.btn-primary{
    background :#B486F0;
    border: 2;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    font-weight: bold;

}
.btn-primary:hover{
    background :#aaa5b0;
    border: 2;

}
.btn-secondary{
    background :none;
    border: 1px solid #4a384a;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #0d0a0d;

}
.btn-secondary:hover{
    background :none;
    border: 1px solid #222a50;
    color: #5b3d5b;

}
.heromujabers h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(11, 11, 11);
}
.heromujabers h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(0, 6, 6);
}
.navbar-nav .nav-link{
    color:rgb(0, 6, 6);
}