.btn-primary{
    background :#B486F0;
    border: 2;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    font-weight: bold;

}
.btn-primary:hover{
    background :#aaa5b0;
    border: 2;

}
.heromujabers h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(11, 11, 11);
}
.heromujabers h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(0, 6, 6);
}
.btn-primary:hover{
    background :#75b48c;
    padding: 15px 20px 15px 30px;
    font-size: 14;
    font-weight: 300;
    border: 1 solid;

}
.btn-secondary{
    background :#c6c2cb;
    padding:15px 20px 15px 30px ;
    font-size: 15;
    font-weight: 300;
    border: 1;
    color: black;

}
.navbar-nav .nav-link{
    color: rgb(15, 14, 14);
}

